.containerCategory{
    position: relative;
}

.titleCategory{
    color: #fff;
}
.categoryProductsCategory{
    overflow: scroll;
    display: flex;
    transition: 1s;
}
.categoryProductsCategory::-webkit-scrollbar{
    display: none;
}
.arrowCarrouselCategory{
    display: none;
    background: rgba(119, 119, 119, 0.658);
    border-radius: 50px;
    position: absolute ;
    color: #fff;
    font-size:33px;
}
.arrowLeft{
    top: 40%;
    bottom: 0;
}
.arrowRigth{
    top: 40%; 
    right: 0;
    margin: auto;
}
@media (min-width:1024px) {
    .arrowCarrouselCategory{
        display: block;
        background: rgba(119, 119, 119, 0.658);
        border-radius: 50px;
        position: absolute ;
        color: #fff;
        font-size:33px;
    }
}