:root{
    --color-yellow-logo: #FAC233;
}

.containerProduct{
    width: 200px;
    min-width: 200px;
    margin: 10px;
}
.imgProduct{
    width: 100%;
    border-radius: 5px;
}
.descriptionProduct{
    display:flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
}
.containerTitleProduct{
    text-decoration: none;
}
.titleProduct{
    font-size:18px;
    font-weight: 500;
    text-align: center;
    margin: 7px 0 0;
    color: #fff;
}
.titleProduct:hover{
    text-decoration: underline;
}
.priceProduct{
    text-align: center;
    margin: 7px 0 0;
    letter-spacing: 1.5px;
}
.cardProduct{
    font-size:13px;
    text-align: center;
    margin: 5px 0 0;
}
.btnProduct{
    margin: 7px 0 0;
    text-align: center;    
    padding: 5px 0;
    color: #000;
    text-decoration:none;
    border-radius: 20px;
    border: none;
    font-weight: 500;
}
.infoItem{
    background-color: #fdf1d0;
}
.infoItem:hover{
    background-color: #d3c294;
}
.addShopping{
    background: var(--color-yellow-logo);
}
.addShopping:hover{
    background: #ffbb00;
}
@media (min-width:1024px) {
    .containerProduct{
        width: 250px;
        min-width: 250px;
        margin: 25px;
    }
    .imgProduct{
        border-radius: 10px;
    }
    .titleProduct{
        font-size:22px;
        font-weight: 600;
    }
    .priceProduct{
        font-size: 20px;
    }
    .cardProduct{
        font-size:15px;
        margin: 10px 0 ;
    }
    .btnProduct{
        margin: 10px 0 ; 
        padding: 10px 0;
        border-radius: 50px;
        font-weight: 600;
        font-size:16px;
    }
    .addShopping{
        background: var(--color-yellow-logo);
    }
}